---
// Footer.astro
---

<footer class="w-full py-32 px-8" id="contact">
    <div class="max-w-screen-2xl mx-auto flex flex-col md:flex-row justify-between items-start gap-16 md:gap-0">
        <div class="flex flex-col space-y-12">
            <h2 class="font-headline text-5xl font-light text-on-surface">Contacto</h2>
            <div class="flex flex-col space-y-4 font-headline text-2xl md:text-3xl font-light text-on-surface leading-tight">
                <p class="transition-all duration-300 w-fit">aleidraws@gmail.com</p>
                <p class="transition-all duration-300 w-fit">@aleidraws</p>
                <p class="transition-all duration-300 w-fit">+34 111 11 11 11</p>
            </div>
        </div>
    </div>
    
    <div class="max-w-screen-2xl mx-auto mt-32 flex flex-col md:flex-row justify-between items-center text-xs font-label text-outline pt-8 gap-4">
        <p class="uppercase tracking-widest">© 2026 Alei</p>
        <p>Pintando mis movidas, espero que te guste.</p>
    </div>
</footer>