---
import Layout from '../layouts/Layout.astro';
import CatalogoComponent from '../components/Catalogo.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Navbar />
    <div class="page-container py-24">
        <CatalogoComponent />
    </div>
</Layout>
