---
import Layout from '../layouts/Layout.astro';
import ColaboracionesComponent from '../components/Colaboraciones.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Navbar />
    <div class="page-container py-24">
        <ColaboracionesComponent />
    </div>
    <Footer />
</Layout>
