---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Series from '../components/Series.astro';
import Colaboraciones from '../components/Colaboraciones.astro';
import Catalogo from '../components/Catalogo.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Navbar />
    <div class="page-container">
        <Hero />
        <Series />
        <Colaboraciones />
        <Catalogo />
    </div>
    <Footer />
</Layout>